<form [formGroup]="addCompanyForm"   (ngSubmit)="onSubmit()">
<div class="row">
     <div *ngIf="company" class="col-md-5">
    <div class="panel panel-primary">       
            <div class="panel-heading">   
                Add Company: 
            </div>
            <div class="panel-body">
                <table class="table">
                <tr *ngIf="submitError">
                    <td colspan=2>
                      <div  class="alert alert-danger">
                          Problem Adding Company:  {{ submitError }}
                       </div>
                    </td>                   
                </tr>
               
                 <tr>
                    <td>
                         <button class="btn-info orderSummary"  type="submit" [disabled]="!addCompanyForm.valid">Add Company</button>
                    </td>
                    <td>
                         
                    </td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</form>